@charset "UTF-8";
/* CSS Document */
.corp_docs{
	border:1px solid #CCCCCC;
	margin-bottom:25px;
	width:712px;
}
.corp_space{
	margin-bottom:25px;
}
#corp_body{margin:0px 20px;}
.corp_docs h2{
	margin-bottom:20px;
	clear:both;
}
p.message{
	font-size:107%;
	line-height:1.7;
}
.corp_docs h3{
	color:#00968d;
	border-bottom:1px solid #00968D;
	font-size:115%;
	margin-bottom:10px;
}
.philosophy h4 {
	color: #00968D;;
	margin:15px 0;
	clear:both;
}
.philosophy_j{font-size:140%;}
.group_list h4{
	font-size:110%;
	color: #00968D;
	color: #666666;
	margin:15px 0;
	padding-left:7px;
	clear:both;
	border-left:5px solid #ccece1;
	background: url(../img/bg_line.gif) repeat-x bottom;
}
.corp_docs h5{
	color: #00968d;
	font-weight:bold;
	margin-top:15px;
}
.page_top_corp{
	clear:both;
	font-size:95%;
	height:14px;
	padding:12px 0 15px 0;
	text-align:right;
}
.page_top_corp a{
	background: url(../img/bg_pagetop.gif) no-repeat left top;
	padding-left:10px;
	margin-right:20px;
}
eco_report_area .page_top{margin-right:20px;}
/* document list */
.border{margin-bottom:20px;}
.border li{
	background: url(../img/bg_line.gif) repeat-x bottom;
	padding-bottom:8px;
	margin-bottom:8px;
	padding-left:10px;
}
.border li a{
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
	font-weight:bold;
}

/* menu */
.lang{
	padding:10px 0px 0 0px;
	font-size:95%;
	text-align:right;
}
.lang li{
	display:inline;
	border-left:1px solid #CCCCCC;
	padding:0 15px;
	font-weight:bold;
}
.lang li a{
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
}
.menu{
	padding:10px 0px 20px 0px;
	font-size:95%;
}
.menu li{
	display:inline;
	border-left:1px solid #CCCCCC;
	padding:0 15px;
	font-weight:bold;
}
.menu li a{
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
}
.center{
	text-align:center;
	margin:25px 0;
}
.floatleft{
	float:left;
	margin:0 28px 20px 0;
}
.center img{margin-bottom:5px;}
.floatright{
	float:right;
	margin:0 0 20px 28px;
}
#mission{margin-bottom:28px;}
#mission p{margin-bottom:28px;}
#prncpl ol li{
	list-style: decimal;
	color:#00968D;
	margin:0 0 18px 50px;
}
#prncpl ol li p{
	color:#666666;
	margin-top:5px;
}
#figure{margin-bottom:28px;}
.sign{
	text-align:right;
	margin:25px;
}
.photo{
	float:left;
	margin:0 28px 20px 0;
}
.photo p{
	text-align:center;
	margin-bottom:10px;
}
.company_photo{
	margin:0 28px 20px 0;
	width:170px;
}
.company_photo p{
	text-align:center;
	margin-bottom:10px;
}
.group_address{
	border-collapse:separate;
	border-spacing:10px;
}
.group_address th,.group_address td{
	padding:5px;
	vertical-align:top;
}
.btn_relation{
	font-weight:bold;
	text-align:right;
	clear: both;
}
.btn_relation a{
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
}
/* company history */
#line_break_ja{height: 470px;}
#line_break_access{height: 290px;}
#line_break_asean{height: 254px;}
#line_break_nies{height: 256px;}
.company,.history{
	border-collapse:separate;
	border-spacing:5px;
	margin-bottom:18px;
}
.company th, .company td,
.history th,.history td{
	padding:5px;
	vertical-align:top;
}
.company td em{
	font-weight: bold;
	font-style: normal;
}
.corp_site{
	font-weight:bold;
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
}
.company-btm{padding:10px;}
.company th,.month{border-right:1px solid #CCCCCC;}
.history th{
	color:#00968D;
	font-weight:bold;
	width:62px;
}
.month{
	color:#00968D;
	text-align:right;
	width:40px;
}
.company th{
	color:#00968D;
	font-weight:bold;
	width:120px;
}
.to_access a{
	color:#00968D;
	text-decoration:underline;
}
/* directors */
.formation{
	margin-bottom:28px;
	width:100%;
}
.formation th,.formation td{
	background: url(../img/bg_line.gif) repeat-x bottom;
	padding:
}
.formation th{
	width:270px;
	padding:15px 0 0 10px;
	font-weight: normal;
}
.formation td{padding-top:15px;}

/* notes */
.notes{
	font-size:85%;
	line-height:1.2em;
	margin-bottom:18px;
}
.notes em{
	font-style:normal;
	font-weight:bold;
}
/* access */
.access_map{margin-bottom:18px;}
.access_map img{
	float:left;
	margin:0 28px 18px 0;
}
.access_map address{
	font-style:normal;
	margin-bottom:18px;
}
.access_map dl dt{font-weight:bold;}
.btn_print{
	text-align:right;
	margin-top:10px;
}
.btn_print a{
	font-size:95%;
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
	font-weight:bold;
}
.btn_print span{
	padding:5px;
	border:1px solid #66C2B0;
	background-color:#ccece1;
}
/* download */
.issues{margin-bottom:28px;}
.issues td{vertical-align:top;}
.issue_img{width:168px;}
.issues td p{margin-bottom:5px;}
.issues td li{
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
}
.issues td li a{
	font-weight:bold;
	font-size:95%;
	padding-left:18px;
}
.issues td li img{position:absolute;}
.size{font-size:90%;}
.summary{margin-bottom:28px;}
.summary dt{
	font-weight: bold;
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
	padding:0 0 5px 15px;
}
.summary dd ul{margin-bottom:10px;}
.summary dd ul li{
	background: url(../img/bg_line.gif) repeat-x bottom;
	padding:3px 0 3px 30px;
}
.eco_list{margin:10px 0 28px 0;}
.eco_list li{
	list-style: decimal;
	color:#00968D;
	margin:0 0 10px 50px;
}
.eco_list  li p{
	color:#666666;
	margin-top:5px;
}
.to_detail{
	font-weight: bold;
	background: url(../img/list_content.gif) no-repeat left top;
	padding-left:9px;
	margin:5px 0 28px 0;
}
#eco_read{margin-bottom:15px;}
.section a{
	font-weight:bold;
}
.section a:hover{color: #00968d;}
/* sidebar */
#corp{margin:0 18px;}
#sidemenu h5{
	border-bottom:1px solid #999999;
	padding:2px 0 5px 5px;
}
#sidemenu ul{margin-bottom:10px;}
#sidemenu ul li{
	background: url(../img/bg_line.gif) repeat-x bottom;
	padding:5px 0px 5px 10px;
	font-size:95%;
}
#sidemenu ul li span{
	background: url(../img/list_content.gif) no-repeat left 2px;
	padding-left:9px;
	display: block;
}
#sidemenu ul li a{font-weight:bold;}


/* 2013.06.28 add */

.map-cf {
	overflow: hidden;
}

#map_navi {
	background: url(../../company/corp/img/bttns_access_navi.jpg) no-repeat left top;
	width: 370px;
	height: 33px;
	margin-bottom: 20px;
}

#map_navi li {
	float: left;
	text-indent: -9999px;
}

#map_navi li a {
	height: 33px;
	display: block;
}

#map_osaka{width:124px;background: url(../../company/corp/img/bttns_access_navi.jpg) no-repeat left top;}
#map_osaka a:hover{width:124px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat left top;}
#map_osaka_act{width:124px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat left top;}

#map_fukusaki{width:123px;background: url(../../company/corp/img/bttns_access_navi.jpg) no-repeat -124px top;}
#map_fukusaki a:hover{width:123px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat -124px top;}
#map_fukusaki_act{width:123px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat -124px top;}

#map_tokyo{width:123px;background: url(../../company/corp/img/bttns_access_navi.jpg) no-repeat -247px top;}
#map_tokyo a:hover{width:123px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat -247px top;}
#map_tokyo_act{width:123px;background: url(../../company/corp/img/bttns_access_navi_hover.jpg) no-repeat -247px top;}

#map_canvas {
	width: 600px;
	height: 500px;
	margin: 0 auto;
}

#map_canvas2 {
	width: 640px;
	height: 550px;
	margin: 0 auto;
}

#map_address {
	width: 600px;
	margin: 20px auto 18px;
}

#map-printframe #map_address {
	width: 640px;
}

#map_address address{
	font-style: normal;
	margin-bottom: 18px;
}

#map_address dl {
	clear: both;
	width: 600px;
}

#map-printframe #map_address dl {
	width: 640px;
}

#map_address dt {
	float: left;
	width: 17.5em;
	clear: both;
	border-right: 1px solid #ddd;
	margin-bottom: 4px;
	color: #00968d;
	font-weight: bold;
}

#map_address dd {
	margin: 0;
	padding-left: 18.5em;
	margin-bottom: 4px;
}

#map_address dl#map_fukusaki_text dt {
	width: 15.5em;
}

#map_address dl#map_fukusaki_text dd {
	padding-left: 16.5em;
}

#map_address dl#map_tokyo_text dt {
	width: 11.5em;
}

#map_address dl#map_tokyo_text dd {
	padding-left: 12.5em;
}

#map_address-left {
	width: 431px;
	float: left;
}

#map_address-right {
	width: 152px;
	float: right;
}


#map-printframe {
	width: 640px;
	margin: 10px auto;
}

#map-btns {
	text-align: center;
	margin: 25px 0;
}

#map-btns input {
	width: 8em;
	height: 2.5em;
	margin: 0 10px;
}

.map-footer {
	width: 640px !important;
	background-position: -318px top !important;
}

#map-print-logo {
	margin-bottom: 10px;
}

