@charset "UTF-8";

/*
========================================================================
page title image
========================================================================
*/

#content_area h1 { background: url(../../qa/img/h1_qa.png) no-repeat; }

/*topics */
#topics{
	margin-bottom:10px;
	width:712px;
	border:1px solid #CCCCCC;
}
#topics table{
	margin:10px 0 10px 20px;
	width:690px;
}
#topics table td{vertical-align:top;}
.topics_date{
	width:85px;
	font-size:95%;
}
#topics p{padding-left:9px;}

#close table{
	margin:10px 0 10px 20px;
	width:670px;
}

.close_title{
	padding:2px 0 2px 5px;
	font-weight:bold;
	color:#009999;
	}

#closesch table{
	margin:10px 0 10px 20px;
	width:480px;
}

/* CSS Document */
#faq_lists,#genre_srch,#about_product,#to_contact{
	border:1px solid #CCCCCC;
	width:712px;
	margin-bottom:10px;
}
/* related_question */
#faq_list_body{background: url(../../customer/src/images/bg_faq.jpg) repeat-y;}
#faq_lists h3{
	color:#00968d;
	margin:0 20px 0 20px;
	padding-top:20px;
}
#faq_list{margin:20px 1px 1px 1px;}
#faq_list ul{margin:0 0 20px 20px;}
#faq_list ul li{padding:8px 0 6px 45px;}
.faq_odd{
	background: url(../../customer/src/images/bg_q1.gif) no-repeat;
	height:21px;
}
.faq_even{
	background: url(../../customer/src/images/bg_q2.gif) no-repeat;
	height:21px;
}
#more_qstn{
	text-align:right;
	padding:0 25px 5px 0;
}
.genre{
	margin:15px 0px 15px 0px;
	padding-bottom:10px;
	background: url(../img/bg_line.gif) repeat-x bottom;
}
.genre th{
	font-weight:bold;
	width:150px;
	/*border-right: 1px solid #CCCCCC;*/
	vertical-align: top;
	padding-top: 5px;
}
.genre td{padding:5px 10px;}
.genre td span{
	padding-left:9px;
	font-weight:normal;
	background: url(../img/list_content.gif) no-repeat left top;
}
#genre_sub{
	margin:15px 20px 15px 20px;
	color:#CCCCCC;
}
#genre_sub span{
	padding-left:9px;
	font-weight:bold;
	color:#666666;
	background: url(../img/list_content.gif) no-repeat left top;}

/* about_product */
#about_prdct_body{margin:10px 20px;}
#about_prdct_body table{width:670px;}
#about_prdct_body th{
	background: url(../img/bg_line.gif) repeat-x bottom;
	width:318px;
	font-weight:normal;
}
#about_prdct_body th a{
	padding-left:9px;
	font-weight:bold;
	background: url(../img/list_content.gif) no-repeat left top;
}
#about_prdct_body td{
	padding:5px 0 0 9px;
	vertical-align:top;
}
/* to_contact */
#to_contact_body{margin:10px 45px 0 45px;}
#contact_intro{margin-bottom:10px;}
#to_contact_body table{width:614px;}
.space{width:35px;}
#to_contact_body td p{margin:5px 0 30px 0;}
.page_top{text-align:right;}

/* side menu */
#sidemenu{
	margin-bottom:25px;
	width:224px;
}
#customer{margin:0 18px;}
#sidemenu h4{
	border-bottom:1px solid #999999;
	padding-bottom:2px;
}
#sidemenu h5{background: url(../img/bg_line.gif) repeat-x bottom;}
#top_itm{
	border-bottom:1px solid #999999;
	font-size:95%;
	padding-left:9px;
	margin:10px 0 15px 0;
	font-weight:bold;
	background: url(../img/list_content.gif) no-repeat left 2px;
}
.toplevel_itm,.sublevel_itm{margin-bottom:10px;}
.toplevel_itm li,.sublevel_itm li{
	background: url(../img/bg_line.gif) repeat-x bottom;
	padding:5px 0px 5px 0;
	font-size:95%;
}
.sublevel_itm li{padding-left:15px;}
.toplevel_itm li a,.sublevel_itm li a{
	padding-left:9px;
	background: url(../img/list_content.gif) no-repeat left 2px;
	display:block;
	font-weight:bold;
}

/*加藤追加css*/

#q{
	border-bottom: solid 1px #ccc;
}
.q_li{
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	padding:3px 0 3px 50px;

}

#q span{
	background: url(../../qa/img/q.png) no-repeat 10px;
	/*padding-left:9px;*/
	display: block;
}

